.footer {
    position: sticky;
    bottom: -1px;
    z-index: 2;
    height: inherit;
    background: linear-gradient(rgba(18, 32, 67, 0), rgba(18, 32, 67, 1) 22%);
    margin-top: -60px;
}

@media (max-width: 768px) {
    .footer {
        background: linear-gradient(rgba(18, 32, 67, 0), rgba(18, 32, 67, 1) 14%);
    }
}

@media (max-width: 369px) {
    .footer {
        margin-top: -120px;
    }
}

.footer-list {
    padding: 8px 0px 0px 0px;
    margin: 0px;
}

.fa {
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 15px 12px;
    color: white;
}

.footer-list li {
    display: inline-block;
    height: 0;
}

@media (hover: hover) and (pointer: fine) {
    .fa:hover {
        opacity: 0.7;
    }
}