.lyricspage-container {
    padding-bottom: 100px;
}

@media (max-width: 369px) {
    .lyricspage-container {
        padding-bottom: 160px;
    }
}

.lyricspage-container iframe {
    width: 400px;
    aspect-ratio: 16 / 9;
}

@media (max-width: 450px) {
    .lyricspage-container iframe {
        width: calc(100% - 4px);
    }
}

.lyrics {
    padding: 0 8px;
}