.album-cover-container {
    position: relative;
    left: calc(50% - 150px);
    width: 300px;
    height: 300px;
    border: 2px solid white;
}

.album-cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.album-cover-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-shadow: 2px 2px black, -2px -2px black, 2px -2px black, -2px 2px black, 0px 2px black, 0px -2px black, 2px 0px black, -2px 0px black;
}

.album-cover-container:hover .album-cover-image {
    opacity: 0.5;
}
.album-cover-container:hover {
    transform: scale(1.1);
}

.album-cover-container:hover .album-cover-info {
    opacity: 1;
}

.album-cover-container .album-cover-image {
    transition: opacity 0.3s;
}
.album-cover-container {
    transition: transform 0.3s;
}

.album-cover-container-dark-blue {
    background-color: #111e3c;
}

.album-cover-info button {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}

.release-text-upper {
    margin-bottom: 0px;
}

.release-text-lower {
    margin-top: 0px;
}