@media (max-width: 517px) {
    .songpage-container {
        min-height: calc(100vh - 51px);
    }
}

.song-image-container {
    position: relative;
    width: 300px;
    height: 300px;
    border: 2px solid white;
    margin: 20px;
    display: inline-block;
    max-width: calc(100% - 40px);
}