.supportpage-container {
    max-width: 500px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.qr-code-container {
    margin-bottom: 60px;
}

@media (max-width: 517px) {
    .qr-code-container {
        margin-bottom: 120px;
    }
}

.qr-code {
    border-radius: 10%;
    max-width: 268px;
    display: block;
    margin: 16px auto;
    padding-bottom: 16px;
}

.support-text {
    line-height: 22px;
}