.App {
  text-align: center;
}

body {
  background-color: #122043;
  color: #fff;
}

main {
  height: 100vh;
}

.homepage-container {
  background-color: #122043;
  color: #fff;
}

@media (max-width: 768px) {
  body {
    background-color: #111e3c;
  }

  .homepage-container {
    background-color: #111e3c;
  }
}

.content-container {
  color: #fff;
}

.explore-button {
  background-color: #fff;
  color: #292929;
}

.pt-100 {
  padding-top: 100px;
}

.position-relative {
  position: relative;
}

.black-background {
  background-color: #000000;
}