.App {
  text-align: center;
}

body {
  background-color: #122043;
  color: #fff;
}

main {
  min-height: 100vh;
}

.homepage-container {
  color: #fff;
}

.content-container {
  color: #fff;
}

.explore-button {
  background-color: #fff;
  color: #292929;
}

.pt-60 {
  padding-top: 60px;
}

.mt-40 {
  margin-top: 40px;
}

.position-relative {
  position: relative;
}

.black-background {
  background-color: #000000;
}

a {
  color: #9898ff;
}